<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cinema FEUP</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                
                {% else %}
               <!--
               <li><a class="button" href="/logoff">Logoff</a></li> 
                    <li><a class="button" href="/gform/Bilhete">Bilhetes</a></li>
                    <li><a class="button" href="/gform/Menu">Menu</a></li>
                    <li><a class="button" href="/gform/Filme">Filmes</a></li>
                    <li><a class="button" href="/reviews">Reviews</a></li> --> 
                    
                   
                 <li><a class="button" href="/gform1/Reviews">Reviews</a></li>
  
                    
                    
                 
                    {% if usergroup == "funcionario" %} 
                    
                    <li><a class="button" href="/logoff">Logoff</a></li> 
                      <li><a class="button" href="/gform/Bilhete">Bilhetes</a></li>
                      <li><a class="button" href="/gform/Menu">Menu</a></li>
                      <li><a class="button" href="/gform/Filme">Filmes</a></li>
                    <li><a class="button" style="color:pink">User: {{ulogin}}</a></li>
                        
                    {% endif %}
                    
                    {% if usergroup == "cliente" %}
                        
                    
                    <li><a class="button" href="/logoff">Logoff</a></li> 
                      <li><a class="button" href="/gform/Bilhete">Bilhetes</a></li>
                      <li><a class="button" href="/gform/Menu">Menu</a></li>
                      <li><a class="button" href="/gform/Filme">Filmes</a></li>
                      <li><a class="button" href="/gform/reviews">Reviews</a></li>
                    <li><a class="button" style="color:pink">User: {{ulogin}}</a></li>
                    {% endif %}
                    
                              
                    <!-- 
                    {% if submenu == "order" %}
                        <li><a class="button" href="/subform/CustomerOrder_OrderProduct?option=''&subm=order">Order lines</a></li>
                        <li><a class="button" href="/order/mapa?option=''">Mapa encomendas</a></li>
                    {% endif %} 
                   
                   {% if submenu == "Filmes" %} 
                        <li><a class="button" href="/gform/Product?subm=Filmes">Em exibição</a></li>
                        <li><a class="button" href="/productform?subm=Filmes">Compra</a></li>
                        
                    {% endif %} 
                    -->
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
