<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cinema FEUP</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                
                {% else %}
                     
                                  
                                    
                    {% if usergroup == "funcionario" %} 
                    
                    <li><a class="button" href="/logoff">Logoff</a></li> 
                      <li><a class="button" href="/gform/Bilhete">Bilhetes</a></li>
                      <li><a class="button" href="/gform/Menu">Menu</a></li>
                      <li><a class="button" href="/gform/Filme">Filmes</a></li>
                    <li><a class="button" style="color:pink">User: {{ulogin}}</a></li>
                        
                    {% endif %}
                    
                    {% if usergroup == "cliente" %}
                        
                    
                    <li><a class="button" href="/logoff">Logoff</a></li> 
                      <li><a class="button" href="/gformCliente/Cliente">Bilhetes</a></li>
                      <li><a class="button" href="/menucliente">Menu</a></li>
                      <li><a class="button" href="/catalogo">Catálogo</a></li>
                      <li><a class="button" href="/gform1/Reviews">Reviews</a></li>
                    <li><a class="button" style="color:pink">User: {{ulogin}}</a></li>
                    {% endif %}
                    
                    
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
