<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinecartaz</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #8C2D19;
            color: #fff;
        }

        img {
            max-width: 100px;
            max-height: 150px;
        }
    </style>
</head>
<body>

<h2>Filmes</h2>

<table>
  <tr>
    <th>Filme</th>
    <th>Foto</th>
  </tr>
  <tr>
    <td>"{Filme._nomeF}"</td>
    <td><img src="{Filme._codFilme}.jpeg" alt="{Filme._nomeF}"></td>
  </tr>
  <tr>
    <td>Casablanca</td>
    <td><img src="casablanca.jpeg" alt="Casablanca"></td>
  </tr>
  <tr>
    <td>Fight Club</td>
    <td><img src="fightclub.jpeg" alt="Fight Club"></td>
  </tr>
  <tr>
    <td>Inception</td>
    <td><img src="inception.jpeg" alt="Inception"></td>
  </tr>
  <tr>
    <td>The Matrix</td>
    <td><img src="thematrix.jpeg" alt="The Matrix"></td>
  </tr>
  <tr>
    <td>Joker</td>
    <td><img src="joker.jpeg" alt="Joker"></td>
  </tr>
  <tr>
    <td>Se7en</td>
    <td><img src="se7en.jpeg" alt="Se7en"></td>
  </tr>
  <tr>
    <td>The Intouchables</td>
    <td><img src="theintouchables.jpeg" alt="The Intouchables"></td>
  </tr>
  <tr>
    <td>Inside Out</td>
    <td><img src="insideout.jpeg" alt="Inside Out"></td>
  </tr>
  <tr>
     <td>Shrek</td>
     <td><img src="shrek.jpeg" alt="Shrek"></td>
   </tr>
   <tr>
      <td>Back to the Future</td>
      <td><img src="backtothefuture.jpg" alt="Back to the Future"></td>
    </tr>
   
 
</table>

</body>
</html>