{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}

    
    <div class="dados" style="background-image: url('{{ url_for('static', filename='images/inicio.jpg') }}'); background-size: cover; background-position: center; height: 100vh; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; padding: 20px; ">
        <h1 style="color: white; background-color: rgba(0, 0, 0, 0.2); padding: 10px;">Cinema FEUP</h1>
    </div>
{% endblock %}

